
body {
    background-image: url(imagens/back.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.voltar{
    font-size: 28px;
    font-family: 'verdana';
    color: white;
    float:right;
    top: 45px;
}

 /* #login-box-interno{
    margin: 20px;
    border-radius: 10px;
    border: 100px;
    border-color: black;
     width: 480px;
    height: 600px;
    position: absolute;
    margin: 10px;
    border-radius: 10px;
    top:15%;
    box-shadow: 5px 5px 5px 5px #333;
   -webkit-box-shadow: 5px 5px 5px 5px #333;
   -moz-box-shadow: 5px 5px 5px 5px #333; */
   
   /*background-image: url(Img/background1.png); */
    
 
.logo{
    top:20%;
    right: 80px;
}
.nome{
    padding: 15px;
    width: 350px;
    height: 15px;
    margin: 15px;
    margin-left: 40%;
}
.senha{
    padding: 15px;
    width: 350px;
    height: 15px;
    margin: 15px;
    margin-left: 40%;
} 

.cadastro{
    font-family: 'Cooper Std Black';
    margin: 25px;
    /*margin-top: 10%;*/
    margin-left: 40%;
    color: rgb(116, 49, 96);
    
}

/* .input{
    padding: 20px;
} */

.cadastrar{
    background-color: cadetblue;
    border-radius: 15px;
    width:350px;
    height: 45px; 
     padding: 5px; 
    padding-left: 10px;
    font-family: 'arial''verdana';
    color: white;
    margin: 15px; 
    font-weight: bold;
    font-size: 20px;
    margin-left: 40%;
}

.texto{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#cad{
    top: 50%;
    box-shadow: 5px 5px 5px 5px #333;
    position: center;
} 



body {
  background-image: url(imagens/back.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
    width: 500px;
    min-height: 560px;    
    margin: 20px auto;
    position: relative;   
  }
  h1{
    font-size: 48px;
    color: rgb(197, 106, 106);
    /* color: rgb(197, 106, 106); */
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgb(197, 106, 106) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgb(197, 106, 106)) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }
  p{
    margin-bottom:15px;
  }
   
  .content p:first-child{
    margin: 0px;
  }
   
  label{
    /* color: #405c60; */
    color:rgb(197, 106, 106);
    position: relative;
  }
  /* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  }
  input {
    outline: none;
  }
   
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  /*estilo do bot達o submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: rgb(197, 106, 106);
    /* background: #066a75;; */
    /* background: rgb(197, 106, 106); */
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
   
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.2s linear;
  }
   
  /*estilo do bot達o submit no hover */
  input[type="submit"]:hover{
    background: #4ab3c6;
  }
  /*.link{*/
  /*  position: absolute;*/
  /*  background: #e1eaeb;*/
  /*  color: #7f7c7c;*/
  /*  left: 0px;*/
  /*  height: 20px;*/
  /*  width: 440px;*/
  /*  padding: 17px 30px 20px 30px;*/
  /*  font-size: 16px;*/
  /*  text-align: right;*/
  /*  border-top: 1px solid #dbe5e8;*/
   
  /*  -webkit-border-radius: 0 0  5px 5px;*/
  /*  border-radius: 0 0  5px 5px;*/
  /*}*/
   
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    /* color: rgb(29, 162, 193); */
    color:  rgb(197, 106, 106);
    margin-left: 10px;
    border: 1px solid #cbd518;
   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
  .link a:hover {
      color:  rgb(197, 106, 106);
    /* color: #39bfd7; */
    background: #f7f7f7;
    /* border: 1px solid #4ab3c6; */
    border: 1px solid  rgb(197, 106, 106);
  }
  #login{
    position: absolute;
    top: -20px;
    width: 88%;   
    padding: 1px 4% 1px 4%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
     
    -webkit-box-shadow: 5px;
    border-radius: 5px;
     
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
   
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  #paralogin:target ~ .content #login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
   
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
   
  /* Efeito ao clicar no bot達o ( Cadastre-se ) */
  #registro:target ~ .content #login,
  #paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }

 @media (max-width: 1000px) {
 #login{
    position: absolute;
    top: -20px;
    width: 88%;   
    padding: 1px 2% 1px 2%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
     
    -webkit-box-shadow: 5px;
    border-radius: 5px;
     
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
   
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
}
